mixin page(options)
  doctype html
  html(lang='ru')
    head
      title Toporkov Roman | Middle Frontend Developer
      meta(charset='UTF-8')
      meta(http-equiv='X-UA-Compatible', content='IE=Edge')
      meta(name='viewport', content='width=device-width,initial-scale=1')

      if process.env.NODE_ENV === 'production'
        link(rel='stylesheet', href='css/styles.min.css')

    body.page.js-page-root
      +header

      .container.page__container.js-page-container
        .page__aside-wrapper
          +aside.page__aside

        .page__content-wrapper
          main.main.page__main.js-page-main
            block

            if process.env.NODE_ENV === 'production'
              script(
                type='module',
                data-script=`./js/${options.basename}.bundle.js`
              )
            else
              script(
                type='module',
                src=`../../pages/${options.basename}/${options.basename}.ts`
              )

          +footer

      +modal.js-contact-modal.page__contact-modal
        +form.js-contact-form.page__contact-modal-form
          .page__contact-modal-inputs
            +input({ name: 'name', type: 'text', placeholder: 'Name' }).page__contact-modal-name
            +input({ name: 'email', type: 'email', placeholder: 'E-mail' }).page__contact-modal-email
            +input({ name: 'subject', type: 'textarea', placeholder: 'Subject' }).page__contact-modal-subject
          +button.page__contact-modal-submit.js-submit-button(
            type='submit'
          )
            span Send
